<template>
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                </div>
                <BreadcrumbCore/>
            </div>
        </div>
        <section class="section">
            <div class="row">
                <p>
                    <input class="form-control" placeholder="Search icons..." @input="input" :value="keyword">
                </p>
                <ul class="icons">
                    <li v-for="icon in icons" :key="icon">
                        <span v-bind:data-feather="icon"></span>
                        <span>{{ icon }}</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</template>

<script>
import feather from 'feather-icons';
const icons = Object.keys(feather.icons);
const name = "FeatherIconsView";
import BreadcrumbCore from "@/views/BreadcrumbCore";
export default {
    components: {BreadcrumbCore},

    data() {
        return {
            icons,
        };
    },
    methods: {
        input(event) {
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                this.filter(event.target.value);
            }, 300);
        },

        filter(value) {
            value = value.trim().toLowerCase();
            this.icons = icons.filter(icon => icon.indexOf(value) !== -1);
            this.keyword = value;

        },
    },
    beforeCreate() {
        console.log(name + "beforeCreate");
    },
    created() {
        console.log(name + "created");
    },
    beforeMount: function () {
        console.log(name + "beforeMount");
    },
    mounted: function () {
        console.log(name + "mounted");
        feather.replace();
    },
    /* 初始化不會觸發 */
    beforeUpdate: function () {
        console.log(name + "beforeUpdate");
    },
    updated: function () {
        console.log(name + "updated");
        feather.replace();
    },
    beforeUnmount() {
        console.log(name + "beforeUnmount");
    },
    unmounted() {
        console.log(name + "unmounted");
    }

}
</script>

<style scoped>
.icons {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.icons > li {
    background-color: #f8f8f8;
    padding: 0.5rem 1rem;
    transition: color 0.15s;
}

.icons > li:hover {
    color: #0074d9;
}

.icons > li > i {
    vertical-align: middle;
}

.icons > li > span {
    color: gray;
    margin-left: 0.5rem;
    transition: color 0.15s;
}

.icons > li:hover > span {
    color: inherit;
}

</style>