<template>
    <AuthWrapper/>
    <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <router-link to="/">
                            <img src="@/assets/images/logo/logo.png" alt="Logo">
                        </router-link>
                    </div>
                    <h1 class="auth-title">Log in.</h1>
                    <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" class="form-control form-control-xl" v-model="account"
                               placeholder="Username">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" v-model="password"
                               placeholder="Password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <div class="form-check form-check-lg d-flex align-items-end">
                        <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label text-gray-600" for="flexCheckDefault">
                            Keep me logged in
                        </label>
                    </div>
                    <button @click="login()" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>

                    <div class="text-center mt-5 text-lg fs-4">
                        <p class="text-gray-600">Don't have an account?
                            <router-link to="/register" class="font-bold">Sign up.</router-link>
                        </p>
                        <p>
                            <router-link to="/forgetpassword" class="font-bold">Forgot password?</router-link>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">
                    <LCalendar/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import AuthWrapper from "@/views/authWrapper";
import LCalendar from "@/views/Modules/LCalendar/LCalendar";

export default {
    name: "LoginView",
    inject: ['rootPath'],
    components: {LCalendar, AuthWrapper},
    data() {
        return {
            account: "root",
            password: "PassWord"
        }
    },
    methods: {
        async login() {
            let isValid = false;
            let isServerStarted = false;
            let token = '';
            let response;
            let redirectURL = this.rootPath;
            try {
                response = await axios.get("http://localhost:3000/Member?account=" + this.account + "&password=" + this.password)
                isServerStarted = true;
            } catch (e) {
                isValid = false;
            }
            if (isServerStarted) {
                isValid = (response.status === 200 && response.data.length === 1);
                token = response.token;
            } else {
                isValid = true;
                token = '6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b';
            }

            if (isValid) {
                localStorage.setItem('isLoggedIn', true)
                localStorage.setItem('token', token)

                if (this.$router.currentRoute.value.query.redirect) {
                    redirectURL = this.$router.currentRoute.value.query.redirect;
                }
                location.href = redirectURL;
            }
        }
    },
}
</script>

<style scoped>

</style>
