<script>
export default {
    name: "LogoutController",
    inject: ['rootPath'],
    mounted() {
        localStorage.removeItem('isLoggedIn');
        localStorage.removeItem('token');
        location.href = this.rootPath;
    }
}
</script>
<style scoped>

</style>
