<template>
    <div :v-if="this.$route.name!=='index'" class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ this.$route.name  }}</li>
            </ol>
        </nav>
    </div>
</template>

<script>
export default {
    name: "BreadcrumbCore",
}
</script>

<style scoped>

</style>