<template>
    <router-link
        :to="item.url!==undefined?item.url:`#`"
        custom
        v-slot="{navigate, isActive, route, href }">
        <li v-if="item.isTitle" class="sidebar-title">
            {{ item.name }}
        </li>
        <li v-else :class="[isSub?`submenu-item `:`sidebar-item `]
            + [item.submenu?` has-sub `:``]
            + [(isActive && item.url!==undefined) || isSubActive(route)?` active `:``]">
            <a :href="href" @click="navigate" :class="isSub?``:`sidebar-link`">
                <i :class="`bi bi-`+item.icon"></i>
                <span>{{ item.name }}</span>
            </a>
            <template v-if="item.submenu">
                <ul class="submenu">
                    <MazerSidebarCore v-for="subitem in item.submenu" :key="subitem.name" :item="subitem"
                                      :isSub="true"/>
                </ul>
            </template>
        </li>
    </router-link>
</template>

<script>

export default {
    props: {
        item: {
            type: Object
        },
        isSub: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        isSubActive(route) {
            let isSubActive = false;
            if (this.item.submenu) {
                // console.log(this.item.submenu);
                for (let i = 0; i < this.item.submenu.length && !isSubActive; i++) {
                    // fixme: 簡易判斷可能有問題
                    isSubActive = route.path.indexOf(this.item.submenu[i].url)!==-1;
                    // console.log("route - > " + route.path);
                    // console.log("submenu - > " + this.item.submenu[i].url);
                    // console.log("isSubActive - > " + isSubActive);
                }
            }
            return isSubActive;
        },

    }
}
</script>

<style scoped>

</style>