<template>
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img src="@/assets/images/logo/logo.png" alt="Logo" srcset=""/></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <!--                    https://ithelp.ithome.com.tw/articles/10276455?sc=iThelpR -->
            <div class="sidebar-menu">
                <ul class="menu">
                    <MazerSidebarCore v-for="sidebarItem in sidebarItems" :key="sidebarItem.name" :item="sidebarItem"/>
                </ul>
            </div>
            <button class="sidebar-toggler btn x">
                <i data-feather="x"></i>
            </button>
        </div>
    </div>
</template>

<script>
import {Sidebar} from '@/assets/js/mazer/sidebar.js'
import MazerSidebarJson from '@/assets/simulator/sidebar-items.json'
import MazerSidebarCore from './MazerSidebarCore'

export default {
    name: "MazerSideBarView",
    components: {MazerSidebarCore},
    data() {
        return {
            sidebarItems: MazerSidebarJson,
        }
    },
    mounted() {
        let sidebarEl = document.getElementById("sidebar")
        if (sidebarEl) {
            window.sidebar = new Sidebar(sidebarEl)
        }
    }
}
</script>

<style scoped>

</style>