<template>
    <div class="calendar">
        <div class="calendar-nav">
            <a v-on:click="setMonth('left')">左</a>
            <div class="year">{{ CYear }}</div>
            <div class="month"> {{ CMonth }}</div>
            <button v-on:click="reset()">Reset</button>
            <a v-on:click="setMonth('right')">右</a>
        </div>
        <div class="calendar-content">
            <div id="calendar-week">
                <ul>
                    <li>0</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
            </div>
            <div id="calendar-day">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "LCalendar",
    data() {
        return {
            DaysOfMonth: [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],
            CDay: 1,
            CMonth: 1,
            CYear: 1911,
        }
    },
    methods: {
        reset() {
            this.CYear = new Date().getFullYear();
            this.CMonth = new Date().getMonth() + 1;
            this.fillDay();
        },
        setMonth(month) {
            if (month === 'left') {
                if (this.CMonth - 1 < 1) {
                    this.CYear--;
                    this.CMonth = 12;
                } else {
                    this.CMonth = this.CMonth - 1;
                }
            }
            if (month === 'right') {
                if (this.CMonth + 1 > 12) {
                    this.CYear++;
                    this.CMonth = 1;
                } else {
                    this.CMonth = this.CMonth + 1;
                }
            }
            this.fillDay();
        },
        setYear(year) {
            this.CYear = year;
        },
        isLeapYear() {
            return (this.CYear % 400 === 0) || ((this.CYear % 4 === 0) && (this.CYear % 100 !== 0));
        },
        checkLeap() {
            if(this.isLeapYear()) {
                this.DaysOfMonth[1] = 29;
            } else {
                this.DaysOfMonth[1] = 28;
            }
        },
        fillDay() {
            this.checkLeap();
            let days = document.getElementById("calendar-day").getElementsByTagName("li");
            const currentDate = new Date(this.CYear, this.CMonth - 1);
            let prevMonth = this.DaysOfMonth[new Date(currentDate.getFullYear(), this.CMonth - 1).getMonth() - 1]
            console.log(new Date(currentDate.getFullYear(), this.CMonth - 1).getMonth()  + ' - > ' + prevMonth);
            for (let i = prevMonth, dayPosition = currentDate.getDay(); dayPosition > 0; i--) {
                console.log(dayPosition);
                days[--dayPosition].innerHTML = i;
            }
            for (let i = 1, dayPosition = currentDate.getDay(); i <= this.DaysOfMonth[this.CMonth - 1]; i++) {
                days[i + dayPosition - 1].innerHTML = i;
            }
            for (let i = 1, dayPosition = this.DaysOfMonth[this.CMonth - 1] + currentDate.getDay(); dayPosition < days.length; i++) {
                days[dayPosition++].innerHTML = i;
            }
        },
        clearDay() {
            let days = document.getElementById("calendar-day").getElementsByTagName("li");
            for (let i = 0; i < days.length; i++) {
                days[i].innerHTML = '';
            }
        }
    },
    mounted() {
        const date = new Date();
        this.CDay = date.getDate();
        this.CMonth = date.getMonth() + 1;
        this.CYear = date.getFullYear();
        this.fillDay();
    }
}
// class Lcalendar {
//     constructor() {
//         let ObjDate = new Date();
//         this.year = ObjDate.getFullYear();
//         this.month = ObjDate.getMonth();
//         this.day = ObjDate.getDate();
//         this.dayofweek = ObjDate.getDay();
//         //12個月各月的天數
//         this.DaysOfMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
//     }
//
//     // 閏年
//     getLeapYear(year) {
//         return (year % 400 === 0) || ((year % 4 === 0) && (year % 100 !== 0));
//     }
//
//     setYear(year) {
//         this.year = year;
//     }
//
//     setMonth(month) {
//         this.month = month;
//     }
//
//     setDay(day) {
//         this.day = day;
//     }
//
//     render() {
//         let calenderobj = document.getElementById("calendar");
//         let result = `
//         <div class="calendar" style="background: #0c4128">
//             <div class="calendar_nav">
//             <ul><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li></ul>
//             </div>
//             <div class="calendar_content">
//             <ul><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li></ul>
//             </div>
//         </div>
//         `;
//         calenderobj.innerHTML = result;
//     }
// }

</script>

<style scoped>
.calendar {
    color: black;
}

.calendar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar .calendar-nav {
    display: flex;
    justify-content: space-around;
}

.calendar ul li {
    display: inline-block;
}

.calendar #calendar-day {
    border: 1px solid #eee;
    display: table;
    width: 100%;
}

.calendar #calendar-day ul li {
    display: table-cell;
    vertical-align: top;
    /* padding: 5px 4px; */
    font-weight: 700;
    font-size: 12px;
    width: 6vh;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    height: 60px;
    position: relative;
}
</style>
