<template>
    <router-view></router-view>
</template>
<script>
const name = "App";
export default {
    name: 'App',
    provide() {
        return {
            'rootPath': this.getURLPath(),
        }
    },
    beforeCreate() {
        console.log(name + "beforeCreate");
    },
    created() {
        console.log(name + "created");
        // let routes = loadRoutes(); // insert your own function to get the correct routes here
        // routes.forEach(route => this.$router.addRoute(route))
    },
    beforeMount: function () {
        console.log(name + "beforeMount");
    },
    mounted: function () {
        console.log(name + "mounted");
    },
    /* 初始化不會觸發 */
    beforeUpdate: function () {
        console.log(name + "beforeUpdate");
    },
    updated: function () {
        console.log(name + "updated");
    },
    beforeUnmount() {
        console.log(name + "beforeUnmount");
    },
    unmounted() {
        console.log(name + "unmounted");
    },
    methods: {
        getURLPath() {
            let result = '';
            for(let i = 0; i < location.pathname.split('/').length -1; i++ ) {
                result += location.pathname.split('/')[i] + '/';
            }
            return result;
        }

        // loadRoutes: function() {
        //     return fetch('http://localhost:8888/router').then(res => res.json());
        // }
    }
}
</script>

<style>
@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap';
</style>
