<template>
    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <img class="img-error" src="@/assets/images/samples/error-404.png" alt="Not Found">
                <div class="text-center">
                    <h1 class="error-title">NOT FOUND</h1>
                    <p class='fs-5 text-gray-600'>The page you are looking not found.</p>
                    <a href="/" class="btn btn-lg btn-outline-primary mt-3">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "error-404"
}
</script>

<style scoped>
#error {
    display: contents;
    background-color: #ebf3ff;
    padding-top: 5rem;
}

#error .img-error {
    width: 60%;
}

#error .error-title {
    font-size: 4rem;
    margin-top: 3rem;
}

#error .error-page > div {
    text-align: center;
}
</style>